.wrapper {
    margin-top: 155px;
    .containerWrapper {
        width: 896px;
        height: 376px;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 376px) {
    .wrapper {
        margin-top: 0;
        .containerWrapper{
            width: 316px;
            height: 651px;
            flex-direction: column;
        }
    }
}